__pycache__/app.cpython-310.pyc
__pycache__/cal_setup.cpython-310.pyc
__pycache__/atencion.cpython-310.pyc
__pycache__/citas.cpython-310.pyc
__pycache__/login.cpython-310.pyc
__pycache__/otros.cpython-310.pyc
__pycache__/recetas.cpython-310.pyc
__pycache__/usuarios.cpython-310.pyc
