{% extends "base.html" %}
{% block title %}Mascotas
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}

<div class="container-sm">

    {% if mensajes is defined %}
    {% for mensaje in mensajes %}
        <div class="container-fluid py-1">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{mensaje}}
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}

    {% if session['type'] == 'user' or session['type'] == 'admin' %}
    {% if 'client' not in session %}
    
    <form action="" method="POST">
        <div class="dropdown">
            <button type="button" onclick="myFunction()" class="dropbtn">Usuario</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                {% for user, data in usuarios.items() %}
                {% if data['active'] == 'True'%}
                <button type="submit" class="btn btn-link" name="select_user" value="{{user}}">{{user + ' - ' + data['name']}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>

    {% else %}
    {{'Usuario: ' + session['client'] + ' - '}}
    <a href="/mascotas">Cambiar de usuario</a>

    {% endif %}
    {% endif %}

        <table class="table" data-toggle="table" data-search="true">
            <thead>
                <tr>
                    {% if mascotas_completo is defined %}
                    <th scope="col">Usuario</th>
                    {% else %}
                    <th scope="col">#</th>
                    {% endif %}
                    <th scope="col">Nombre de mascota</th>
                    <th scope="col">Tipo</th>
                    {% if session['type'] == 'user' or session['type'] == 'admin'%}
                    <th scope="col">Activo</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if mascotas is defined %}
                {% if mascotas != '' %}
                <form class="row g-3" action="" method="POST">
                {% for mascota, datos in mascotas.items() %}
                {% if session['type'] == 'client' and datos['active'] == 'False'%}
                {% else %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td> {{ datos["pet_name"] }} </td>
                    <td> {{datos["type"]}} </td>
                    {% if session['type'] == 'admin' or session['type'] == 'user' %}
                    <td> {{ datos["active"] }} </td>
                    {% endif %}
                    <td>
                        {% if datos["active"] == 'True' %}
                        <button type="submit" class="btn btn-link" name="submit_button_delete" value="{{ datos['pet_name' ]}}">Eliminar</button>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </form>
                {% endif %}
                {% endif %}

                {% if mascotas_completo is defined %}
                {% if mascotas_completo != '' %}
                <form class="row g-3" action="" method="POST">
                {% for usuario, usuario_datos in mascotas_completo.items() %}
                {% for mascota, datos in usuario_datos.items() %}
                <tr>
                    <th> {{ usuario }} </th>
                    <td> {{ datos["pet_name"] }} </td>
                    <td> {{datos["type"]}} </td>
                    {% if session['type'] == 'admin' or session['type'] == 'user' %}
                    <td> {{ datos["active"] }} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                </form>
                {% endif %}
                {% endif %}
            </tbody>
        </table>
    {% if session['client'] is defined %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar mascota
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="POST" id="pet_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar mascota</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="pet_name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="pet_name" name="pet_name" required>
                            </div>
                            <div class="container-fluid">
                                <label for="select_type" class="form-label">Tipo</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select" aria-label="Select" id="select_type" name="select_type" required>
                                    <option value="" selected>Seleccione</option>
                                    {% for tipo in tipos %}
                                    <option value="{{ tipo }}">{{ tipo }}</option>
                                    {% endfor %}
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="other_type" name="other_type" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" name="submit_button_add">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- scripts -->
<script type="text/javascript">
    var form = document.getElementById('pet_form')
    var select = document.getElementById('select_type')
    var input_text = document.getElementById('other_type')
    constructor()

    function constructor() {
        form.reset()
        input_text.setAttribute('disabled', true)
        input_text.removeAttribute('required')
    }

    select.addEventListener("change", function () {
        if (this.value == "Otro") {
            input_text.removeAttribute('disabled')
            input_text.setAttribute('required', true)
        } else {
            input_text.removeAttribute('required')
            input_text.setAttribute('disabled', true)
        }
    });
</script>
<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("button");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    } 
</script>
{% endblock %}