{% extends "base.html" %}
{% block title %}Agendar cita
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}

<div class="container-sm">

    <h2>Agendar una cita</h2>
    <h5>Para su mascota</h5>

    <form class="row g-3" action="" method="POST">
        <div class="col-md-12">
            <label for="select_attention" class="form-label">Mascota</label>
            <select class="form-select" aria-label="Select" id="select_pet" name="select_pet" required>
                <option value="" selected>Seleccione</option>
                {% for mascota in mascotas %}
                <option value="{{ mascota }}">{{ mascota }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12">
            <label for="select_attention" class="form-label">Tipo de cita</label>
            <select class="form-select" aria-label="Select" id="select_attention" name="select_attention" required>
                <option value="" selected>Seleccione</option>
                <option value="Boutique">Boutique</option>
                <option value="Boutique">Veterinaria</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Agendar</button>
        </div>
    </form>
    {% for mensaje in mensajes %}
    <div class="container-fluid py-1">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{mensaje}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}