{% extends "base.html" %}
{% block title %}Atención
{% endblock %}
{% block head %}
{{ super() }}
<!-- Vanilla Datepicker CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>
{% endblock %}
{% block body %}

<div class="container-sm">

    {% if mensajes is defined %}
    {% for mensaje in mensajes %}
    <div class="container-fluid py-1">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{mensaje}}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if session['type'] == 'user' or session['type'] == 'admin' %}
    {% if 'client' not in session %}

    <form action="" method="POST">
        <div class="dropdown">
            <button type="button" onclick="myFunction()" class="dropbtn">Usuario</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                {% for user, data in usuarios.items() %}
                {% if data['active'] == 'True'%}
                <button type="submit" class="btn btn-link" name="select_user" value="{{user}}">{{user + ' - ' +
                    data['name']}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>

    {% else %}
    {{'Usuario: ' + session['client'] + ' - '}}
    <a href="/atencion">Cambiar de usuario</a>

    {% endif %}
    {% endif %}

    <table class="table" data-toggle="table" data-search="true" id="tabla_atencion">
        <thead>
            <tr class="noincluir">
                {% if atenciones_completas is defined or atenciones_informe is defined%}
                <th scope="col">Usuario</th>
                {% else %}
                <th scope="col">#</th>
                {% endif %}
                <th scope="col">Mascota</th>
                <th scope="col">Descripción</th>
                <th data-sortable="true" scope="col">Fecha</th>
                <th scope="col">Subtotal</th>
                <th scope="col">IVA</th>
                <th data-sortable="true" scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% if atenciones is defined %}
            {% if atenciones != '' %}
            {% for orden in sorted_dates %}
            {% for pet, fecha_datos in atenciones.items() %}
            {% if orden in fecha_datos %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td> {{ fecha_datos[orden]["pet_name"] }} </td>
                <td> {{ fecha_datos[orden]["description"] }} </td>
                <td> {{ fecha_datos[orden]["date"] }} </td>
                <td class="sum_subtotal"> {{ fecha_datos[orden]["sub_total"] }} </td>
                <td class="sum_iva"> {{ fecha_datos[orden]["iva"] }} </td>
                <td class="sum_total"> {{ fecha_datos[orden]["total"] }} </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
            {% endif %}

            {% if atenciones_completas is defined %}
            {% if atenciones_completas != '' %}
            {% for id_orden, orden in sorted_dates.items() %}
            {% for id, pet_datos in atenciones_completas.items() %}
            {% if id_orden == id %}
            {% for orden in sorted_dates[id_orden] %}
            {% for pet, fecha_datos in pet_datos.items() %}
            {% if orden in fecha_datos %}
            <tr>
                <th> {{ fecha_datos[orden]["username"] }} </td>
                <td> {{ fecha_datos[orden]["pet_name"] }} </td>
                <td> {{ fecha_datos[orden]["description"] }} </td>
                <td> {{ fecha_datos[orden]["date"] }} </td>
                <td class="sum_subtotal"> {{ fecha_datos[orden]["sub_total"] }} </td>
                <td class="sum_iva"> {{ fecha_datos[orden]["iva"] }} </td>
                <td class="sum_total"> {{ fecha_datos[orden]["total"] }} </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
            {% endif %}

            {% if atenciones_informe is defined %}
            {% if atenciones_informe != '' %}
            {% for atencion in atenciones_informe %}
            <tr>
                <th> {{ atencion["username"] }} </td>
                <td> {{ atencion["pet_name"] }} </td>
                <td> {{ atencion["description"] }} </td>
                <td> {{ atencion["date"] }} </td>
                <td class="sum_subtotal"> {{ atencion["sub_total"] }} </td>
                <td class="sum_iva"> {{ atencion["iva"] }} </td>
                <td class="sum_total"> {{ atencion["total"] }} </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endif %}

            <tr class="noincluir">
                <td colspan="4"></td>
                <td><span id="sum1">0</span></td>
                <td><span id="sum2">0</span></td>
                <td><span id="sum3">0</span></td>
            </tr>

        </tbody>
    </table>
    {% if session['type'] == 'user' or session['type'] == 'admin' %}
    {% if 'client' in session %}
    <!-- Button trigger modal -->
    {% if mascotas|length %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar atención
    </button>
    {% else %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>
        Agregar atención
    </button>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="POST" id="form" name="atencion">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar atención</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="select_attention" class="form-label">Mascota</label>
                                <select class="form-select" aria-label="Select" id="select_pet" name="select_pet"
                                    required>
                                    <option value="" selected>Seleccione</option>
                                    {% for mascota in mascotas %}
                                    <option value="{{ mascota }}">{{ mascota }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="description" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="description" name="description" required>
                            </div>
                            <div class="input-group mb-4">
                                <i class="bi bi-calendar-date input-group-text"></i>
                                <input type=" text" class="datepicker_input form-control"
                                    placeholder="Seleccione un día" required aria-label="Selecicionar fecha" id="fecha"
                                    name="fecha">
                            </div>
                            <span id="numberText"></span>
                            <div class="col-md-12">
                                <label for="sub_total" class="form-label">Subtotal + IVA</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="sub_total" name="sub_total" required>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="iva" name="iva" disabled required>
                            </div>
                            <div class="col-md-12">
                                <label for="total" class="form-label">Total</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="total" name="total" disabled required>
                            </div>
                            <input type="hidden" id="date_selected" name="date_selected" value="" required>
                            <input type="hidden" id="tipo_solicitud" name="tipo_solicitud" value="agregar_atencion"
                                required>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" name="submit_button_add"
                            id="submit_button_add" value="agregar">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <!-- Informe por dia -->
    {% if session['type'] == 'admin' or session['type'] == 'user'%}
    {% if 'client' not in session %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Informe por día
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="POST" id="form" name="dia_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Informe por día </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="input-group mb-4">
                                <i class="bi bi-calendar-date input-group-text"></i>
                                <input type=" text" class="datepicker_input form-control"
                                    placeholder="Seleccione un día" required aria-label="Selecicionar fecha" id="fecha2"
                                    name="fecha2">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="pdf" id="pdf_check" name="pdf_check">
                                <label class="form-check-label" for="pdf_check">
                                  PDF
                                </label>
                            </div>


                            <input type="hidden" id="date_selected" name="date_selected" value="" required>
                            <input type="hidden" id="tipo_solicitud" name="tipo_solicitud" value="informe_dia"
                                required>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" name="submit_button_add"
                            id="submit_button_add" value="informe_dia">Consultar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}



</div>

<!-- Vanilla Datepicker JS -->
<script src='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js'></script>

<script>
    /* Bootstrap 5 JS included */
    /* vanillajs-datepicker 1.1.4 JS included */

    const getDatePickerTitle = elem => {
        // From the label or the aria-label
        const label = elem.nextElementSibling;
        let titleText = '';
        if (label && label.tagName === 'LABEL') {
            titleText = label.textContent;
        } else {
            titleText = elem.getAttribute('aria-label') || '';
        }
        return titleText;
    }
</script>

<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("button");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
        const datepicker = new Datepicker(elem, {
            'format': 'dd/mm/yyyy', // UK format
            title: getDatePickerTitle(elem)
        });
    }     
</script>

<!-- scripts -->
<script type="text/javascript">
    var form = document.getElementById('form');
    //alert(form.name)
    if (form.name == 'atencion'){
        var fecha_input = document.getElementById('fecha');
        var pet_input = document.getElementById('select_pet');
        var description_input = document.getElementById('description');
        var date_selected = document.getElementById('date_selected');
        var sub_total_input = document.getElementById('sub_total');
        var iva_input = document.getElementById('iva');
        var total_input = document.getElementById('total')
        sub_total_input.addEventListener("keyup", function () {
        if (numberValidation()) {
            iva_input.value = sub_total_input.value * 0.16;
            total_input.value = sub_total_input.value * 1.16;
        }
    });
    }
    if (form.name == 'dia_form'){
        var fecha_input = document.getElementById('fecha2');
        var date_selected = document.getElementById('date_selected');
    }
    
    
    var agregar_button = document.getElementById('submit_button_add');
    var valor_subtotal = document.getElementById('sum1');
    var valor_iva = document.getElementById('sum2');
    var valor_total = document.getElementById('sum3');

    $(document).ready(function(){
    var $dataRows=$("#tabla_atencion tr:not('.noincluir')");
    var sum_col_sub = 0;
    var sum_col_iva = 0;
    var sum_col_total = 0;

        $dataRows.each(function() {
            var sum_subtotal = $(this).find('.sum_subtotal'); 
            sum_col_sub += parseFloat(sum_subtotal.html());
            var sum_iva = $(this).find('.sum_iva'); 
            sum_col_iva += parseFloat(sum_iva.html());
            var sum_total = $(this).find('.sum_total');
            sum_col_total += parseFloat(sum_total.html());
        });
        document.getElementById("sum1").innerHTML = sum_col_sub;
        document.getElementById("sum2").innerHTML = sum_col_iva;
        document.getElementById("sum3").innerHTML = sum_col_total;
        

    });

    //alert(is_date_selected.value);
    constructor();

    function constructor() {
        form.reset()
    }

    //informes


    function numberValidation() {
        var n = sub_total_input.value;
        if (isNaN(n)) {
            document.getElementById(
                "numberText").innerHTML =
                "Ingrese un valor númerico";
            return false;
        } else {
            document.getElementById(
                "numberText").innerHTML =
                "";
            return true;
        }
    }
    
    agregar_button.addEventListener("click", function () {
        ban = false
        try {
            if (fecha_input.value.trim() != '') {
                let currentDate = new Date();
                let fecha_text = fecha_input.value;
                const array = fecha_text.split("/");
                let day = parseInt(array[0]);
                let month = parseInt(array[1]);
                let year = parseInt(array[2]);
                let date = new Date(year, month - 1, day);
                date_selected.value = fecha_text;
            }
        } catch (error) {
            alert("Fecha invalida");
            ban = true;
        }
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                alert('Faltan campos por llenar');
                ban = true;
                break;
            }
        }
        if (!ban) {
            if (form.name == 'atencion'){
                iva_input.removeAttribute('disabled');
                total_input.removeAttribute('disabled');
            }
            if (form.name == 'dia_form'){
                
            }
            form.submit();
        }
    });

    
</script>

<style>
    .datepicker {
        z-index: 10000 !important;
    }
</style>

{% endblock %}